{% extends "global/base.html" %}
{% block content %}
    <div class="main-content">
        <main>
            <div class="page-header">
                <div>
                    <h1>Analytics Dashboard</h1>
                    <small>Monitor key metrics. Check reporting and review
                        insights
                    </small>
                </div>
            </div>

            <div class="cards">
                <div class="card-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Number of Birthdays</span>
                                <small>people registered in the system</small>
                            </div>

                            <h2>50</h2>
                            <small>Birthdays</small>
                        </div>
                        <div class="card-chart">
                            <span class="las la-chart-line"></span>
                        </div>
                    </div>
                </div>

                <div class="card-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Messages</span>
                                <small>Messages sent</small>
                            </div>

                            <h2>10/50</h2>
                            <small>for birthdays</small>
                        </div>
                        <div class="card-chart">
                            <span class="las la-sms"></span>
                        </div>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-flex">
                        <div class="card-info">
                            <div class="card-head">
                                <span>Birthday Boy</span>
                                <small>02/10/2025 - Alert</small>
                            </div>

                            <h2>Erick Vinicius</h2>
                            
                        </div>
                        <div class="card-chart">
                            <span class="las la-user"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="birthday-grid">
                <div class="analytics-card">
                    <div class="analytics-head">
                        <h3>Actions needed</h3>

                        <span class="las la-ellipsis-h"></span>
                    </div>

                    <div class="analytics-chart">
                        <div class="chart-circle">
                            <h1>71%</h1>
                        </div>

                        <div class="analytics-note">
                            <small>Note: Current sprint requires stakeholders</small>
                        </div>
                    </div>

                    <div class="analytics-btn">
                        <button>Generate Report</button>
                    </div>
                </div>

                <div class="birthdays">
                    <h2>Birthdays <small>See all <span class="las la-arrow-right"></span></small></h2>
                    <table width="100%">
                        <tbody>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Olivia Martinez
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        March 14, 1995
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        30 years old
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        77 days.
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>submit</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator even"></span>
                                    </div>
                                </td>
                                <td><div>Ethan Johnson</div></td>
                                <td><div>September 2, 2000 </div></td>
                                <td><div>
                                    24 years old.
                                </div></td>
                                <td>
                                    <div>
                                        270 days
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>submit</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <span class="indicator"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        Sophia Chen
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        May 10, 1988
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        37 years old    
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        20 days
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <button>submit</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
{% endblock content %}



